telethon==1.25.2
pyTelegramBotAPI==3.7.7
pytuneteller
pytz
qrcode
wget
urlextract
IMDbPY
ShazamAPI
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy==1.3.23
sqlalchemy-json
telegraph
telethon-session-sqlalchemy
tgcrypto
tswift
PyMuPDF
validators
vcsi
wand
wikipedia
ujson
TgCrypto
ffmpeg-python
youtube-search-python==1.4.9
youtube-search
gitpython
yt-dlp
youtube_dl
moviepy
randomstuff.py

